<div class="container">
  <div class="d-flex justify-content-end mb-3">
    <form action="/logout" method="get">
      <button type="submit" class="btn btn-danger">Cerrar sesión</button>
    </form>
  </div>
  
  <h1>Carrito</h1>

  <div class="mb-3">
    <a href="/api/products" class="btn btn-primary">Ir a Productos</a>
    {{#if products.length}}
    <form action="/api/carts/{{cartId}}/purchase" method="post">
      <button type="submit" class="btn btn-success">Finalizar compra</button>
    </form>
    <form action="/api/carts/{{cartId}}/products" method="post">
      <button type="submit" class="btn btn-danger">Vaciar carrito</button>
    </form>
    {{/if}}
  </div>

  {{#if products}}
  <div class="row">
    {{#each products}}
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">Descripción: {{this.description}}</p>
          <p class="card-text">Categoría: {{this.category}}</p>
          <p class="card-text">Precio por unidad: ${{this.price}}</p>
          <p class="card-text">Cantidad: {{this.quantity}}</p>
          <p class="card-text">Precio total: ${{this.priceTot}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div class="mb-3">
    <p>No hay productos en el carrito.</p>
  </div>
  {{/if}}
</div>